WishList.Models.AccountViewModels.RegisterViewModel

<h3>Register New User</h3>


 <form asp-action="Register">
   <div class="text-danger" asp-validation-summary="All"></div>
 <div>
   <label asp-for="Email"> Email </label>
   <br/>
   <input  asp-for ="Email"/>
 </div>
 <div>
   <label asp-for ="Password">Password</label>
   <br/>
   <input asp-for="Password" />
 </div>
 <div>
   <label asp-for ="ComfirmPassword">ConfirmPassword</label>
   <br/>
   <input asp-for ="ComfirmPassword" />
 </div>
 <div>
   <button type="submit">Register User</button>
 </div>
</form>